<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Add Beneficiary</title>
	<style type="text/css">
		.me
		{
			font-family: "Copperplate", fantasy;
			font-size: 22px;
			border-style: groove;
			border-color: #3F94E8;
			padding-left: 10px;
		}

		.t1
		{
			font-family: "Courier New", Courier, monospace;
			font-size: 22px;
			font-weight: bold;
		}

		.q1
		{
			text-align: right;
		}

		.l
		{
			height: 50px;
			width: auto;
		}

	</style>
</head>
<body style="background-color: #2465A5;">
	<div align="right">
		<a href="{% url 'menu' %}"><img class="l" src="{% static 'images/me.png' %}"></a>
	</div>

	<table>
		<tr>
			<td rowspan="2">
				<a style="text-decoration:none; color: black;" href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
			</td>
		</tr>
		</tr>
	</table>
	
	<p class="me">ADD CLIENT &nbsp <i class="fa fa-user" aria-hidden="true"></i></p>
	<form method="POST" action="{% url 'addclient' %}" autocomplete="off">
		{% csrf_token %}
		<table width="100%" class="t1">
			<tr>
				<td>
					<label>NAME:</label>
				</td>
				<td>
					<input type="text" name="name" style="width: 90%" required="requied">
				</td>
				<td></td>
				<td>
					<label>GSTin</label>
				</td>
				<td>
					<input type="text" name="gstin" style="width: 90%" required="requied">
				</td>
			</tr>

			<tr>
				<td>
					<label>ADDRESS1:</label>
				</td>
				<td>
					<input type="text" name="address1" style="width: 90%" required="requied">
				</td>
				<td></td>
				<td>
					<label>ADDRESS2:</label>
				</td>
				<td>
					<input type="text" name="address2" style="width: 90%" required="requied">
				</td>
			</tr>

			<tr>
				<td>
					<label>PHONE NUMBER:</label>
				</td>
				<td>
					<input type="text" name="number" style="width: 90%" required="requied">
				</td>
			</tr>
			<tr style="empty-cells: hide;">
				<td>
					<label>GST:</label>
				</td>
				<td>
					<input type="radio" name="gst" value="I-GST">I-GST
					<input type="radio" name="gst" value="C-GST & S-GST">C-GST & S-GST
				</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="q1" colspan="5">
					<input type="submit" value="Add Client" style="margin-right: 2%; font-size:18px; font-family: 'Times New Roman', serif;">
				</td>
			</tr>
		</table>
	</form>
	<br>
	<br>
	<p class="me">ADD TRANSPORTATION &nbsp <i class="fa fa-truck" aria-hidden="true"></i></p>
	<form method="POST" action="{% url 'addtransport' %}" autocomplete="off">
		{% csrf_token %}
		<table width="100%" class="t1">
			<tr>
				<td>
					<label>NAME:</label>
				</td>
				<td>
					<input type="text" name="name" style="width: 90%" required="requied">
				</td>
				<td></td>
				<td>
					<label>GSTin</label>
				</td>
				<td>
					<input type="text" name="gstin" style="width: 90%" required="requied">
				</td>
			</tr>

			<tr>
				<td>
					<label>ADDRESS1:</label>
				</td>
				<td>
					<input type="text" name="address1" style="width: 90%" required="requied">
				</td>
				<td></td>
				<td>
					<label>ADDRESS2:</label>
				</td>
				<td>
					<input type="text" name="address2" style="width: 90%" required="requied">
				</td>
			</tr>

			<tr>
				<td>
					<label>PHONE NUMBER:</label>
				</td>
				<td>
					<input type="text" name="number" style="width: 90%" required="requied">
				</td>
				<td></td>
				<td>
					<label>LOCATION:</label>
				</td>
				<td>
					<input type="text" name="location" style="width: 90%" required="requied">
				</td>
			</tr>
			<tr>
				<td class="q1" colspan="5">
					<input type="submit" value="Add Transportation" style="margin-right: 2%; font-size:18px; font-family: 'Times New Roman', serif;">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>